# =========================
# FLASK STACK
# =========================
flask==3.0.3
flask-cors==4.0.0
python-dotenv==1.0.1

# =========================
# DATABASE
# =========================
pymongo==4.6.1

# =========================
# AUTH
# =========================
bcrypt==4.1.2
PyJWT==2.8.0

# =========================
# DATA + ML
# =========================
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.3.2

# =========================
# UTIL
# =========================
python-multipart==0.0.9

# =========================
# SERVER
# =========================
gunicorn==21.2.0